.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, auto);
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.header {
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.placar {
  display: flex;
  margin: 15px;
  justify-content: space-around;
  width: 550px;
  align-items: center;
}

.header h1{
  color: #FFF;
  margin: 20px;
}
.placar p {
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
}

.placar button {
  background: #fff;
  color: #000;
  width: 200px;
  font-size: 24px;
  border-radius: 20px;
  font-weight: bold;
  border: 2px solid #000;
}

.header .jogar {
  font-size: 20px;
  color: #000;
  height: 30px;
}

.header .reset {
  font-size: 25px;
  color: #000;
  height: 30px;
  width: 200px;
}

@media screen and (max-width: 360px){
  .grid {
    grid-template-columns: repeat(4, auto);
    gap: 3px;
  }
  .placar {
    width: 330px;
  }

  .header .jogar {
    font-size: 17px;
    color: #000;
    width: 170px;
    height: 30px;
  }

  .header .reset {
    font-size: 20px;
    color: #000;
    height: 30px;
    width: 100px;
  }
}

@media screen and (min-width: 375px ) and (max-width: 412px){
  .grid {
    grid-template-columns: repeat(4, auto);
    gap: 3px;
  }
  .placar {
    width: 330px;
  }

  .header .jogar {
    font-size: 17px;
    color: #000;
    width: 170px;
    height: 30px;
  }

  .header .reset {
    font-size: 20px;
    color: #000;
    height: 30px;
    width: 100px;
  }
}

@media screen and (min-width: 412px ) and (max-width: 480px){
  .grid {
    grid-template-columns: repeat(4, auto);
    gap: 3px;
  }
  .placar {
    width: 330px;
  }

  .header .jogar {
    font-size: 17px;
    color: #000;
    width: 170px;
    height: 30px;
  }

  .header .reset {
    font-size: 20px;
    color: #000;
    height: 30px;
    width: 100px;
  }
}
