.card {
  height: 170px;
  width: 170px;
}

.card_content {
  position: relative;
  width: 170px;
  height: 170px;
  background: red;
  transform-style: preserve-3d;
  transition: transform 600ms ease-in-out ;
}

.card_content_flipped {
  transform: rotateY(180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  cursor: pointer;
}

.card_face_front {
  background: var(--color-primary);
  color: var(--color-text-light);
  border: 1px solid #000;
}

.card_face_back {
  background: var(--color-secondary);
  color: var(--color-text-dark);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.card_face_back img {
  width: 90px;
  height: 90px;
}

@media screen and (max-width: 360px){
  .card {
    height: 85px;
    width: 85px;
  }
  .card_content {
    width: 85px;
    height: 85px;
  }
  .card_face_back img {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 375px ) and (max-width: 412px){
  .card {
    height: 85px;
    width: 85px;
  }
  .card_content {
    width: 85px;
    height: 85px;
  }
  .card_face_back img {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 412px ) and (max-width: 480px){
  .card {
    height: 95px;
    width: 95px;
  }
  .card_content {
    width: 95px;
    height: 95px;
  }
  .card_face_back img {
    width: 70px;
    height: 70px;
  }
}
